@font-face {
  font-family: 'Inter', sans-serif;
  src: local("Inter"),
    url(./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
}


.header {
  width: 100vw;
  height: 55px;
  background: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--icon {
  margin: 0 7px;
}

.header--title {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}


.card {
  margin: 36px 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card--img {
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
  width: 125px;
  margin-right: 20px;
}

.card--content {
  max-width: 326px;
}

.card--content_subheader {
  display: flex;
  align-items: center;
}

.card--content_subheader>span,a {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.card--content_location {
  letter-spacing: 0.17em;
  color: #2B283A;
  margin-left: 6px;

}

.card--content_link {
  text-decoration-line: underline;
  color: #918E9B;
  margin-left: 12px;

}

.header-content_header {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-block: 5px;

  color: #2B283A;
}

.card--content_dates {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #2B283A;
  padding-block: 5px;
}

.card--content_desc {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #2B283A;
  padding-block: 3px;
}