@font-face {
  font-family: 'Inter', sans-serif;
  src: local("Inter"),
      url(./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}

*{
  font-family: 'Inter', sans-serif;
  margin: 0;
}


.header {
  width: 100vw;
  height: 55px;
  background: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--icon{
  margin: 0 7px;
}
.header--title{
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}


.card {
  margin: 36px 40px;
  /* height: 200px; */
  width: 100px;
  /* background-color: aqua; */
  display: flex;

}

.card--img{
  height: 168px;border-radius: 5px;
}